{% set key_url = '' %}
{% if grains['os_family'] == 'Debian' %}
    {% set repo_base_url = 'http://download.owncloud.org/download/repositories/stable/' %}
    {% set key_base_url = 'http://download.owncloud.org/download/repositories/stable/' %}
{% elif grains['os_family'] == 'RedHat' %}
    {% set repo_base_url = 'http://download.opensuse.org/repositories/isv:ownCloud:community/' %}
{% endif %}


{% if grains['os'] == 'Debian' %}
    {% set os_string = grains['os'] ~ '_' ~ grains['osmajorrelease'] ~ '.0'%}
    {% set repo_url = 'deb ' ~ repo_base_url ~ os_string ~ '/ /' %}
    {% set key_url = key_base_url ~ os_string ~ '/Release.key' %}
{% elif grains['os'] == 'Ubuntu'%}
    {% set os_string = 'x' ~ grains['os'] ~ '_' ~ grains['osrelease'] %}
    {% set repo_url = 'deb ' ~ repo_base_url ~ os_string ~ '/ /' %}
    {% set key_url = key_base_url ~ os_string ~ '/Release.key' %}
{% elif grains['os'] == 'Fedora'%}
    {% set os_string = grains['os'] ~ '_' ~ grains['osrelease'] %}
    {% set repo_url = repo_base_url ~ os_string ~ '/' %}
{% elif grains['os'] == 'CentOS'%}
    {% set os_string = grains['os'] ~ '_' ~ grains['os'] ~ '-' ~ grains['osmajorrelease'] %}
    {% set repo_url = repo_base_url ~ os_string ~ '/isv:ownCloud:community.repo' %}
{% endif %}

{% set owncloud = {
        'repo_url': repo_url,
        'key_url': key_url,
    }
%}
